########### server configuration
EXPRESS_PORT=4001
NODE_URL="http://localhost:3000/" # You will need to add this value (exactly the same) into the smart contract
DELETE_DB_ON_START=1 # The db should be deleted when start up
DATABASE_TYPE="IN_MEMORY" #IN_MEMORY,ACEBASE 
DATABASE_PATH="/var/lib/airswap" # Path where you want to store the database
MAX_RESULTS_FOR_QUERY=100
########### smartcontract definition
NETWORK=5 #1:homestead,5:goerli
API_KEY="" #INFURA API KEY